<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>loginadmin</title>

        <!-- ===== Iconscout CSS  para usar los iconos===== https://iconscout.com/unicons -->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="paginas/Login/style.css">


    </head>
    <body>

        <div >
            <h2>Listado de Usuarios de la base de datos</h2>
            <br>
            <h2>Usuarios</h2>
            <div th:if="${usuarios != null and !usuarios.empty}">
                <table class="table table-striped" style="background-color: white;">
                    <tr>
                        <th>Id_Usuario</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Contraseña</th>
                        <th>Correo</th>
                        <th>Teléfono_Contacto</th>
                        <th>Título_Usuario</th>
                    </tr>

                    <tr th:each="usuario: ${usuarios}">
                        <td th:text="${usuario.id_usuario}"></td>
                        <td th:text="${usuario.nombres}"></td>
                        <td th:text="${usuario.apellidos}"></td>
                        <td th:text="${usuario.contrasena}"></td>
                        <td th:text="${usuario.correo}"></td>
                        <td th:text="${usuario.telefono_contacto}"></td>
                        <td th:text="${usuario.titulo_usuario}"></td>
                    </tr>

                </table>  
            </div>

            <div th:if="${usuarios == null or usuarios.empty}">
                La Tabla Usuario está vacía
            </div>

        </div>
        <!-- scrip de js para activar funciones  -->
        <script src="paginas/Login/script.js"></script>
    </body>
</html>

